@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 1
   
   Star Dust Stories Design Styles
   Author: Alex A Somoza 
    Date: 11-6-18       

   Filename: sd_effects.css

*/

/* HTML Styles */
/* The code below  holds style rules for the html element. These style rules set a background image and sets the look for the image. */
html {
    background-image: url(sd_back1.png);

    background-attachment: fixed;
    background-size: 100%;



}


/* Body Styles */
/* The code below holds style rules for the body. The style rules consist of many complex radial-gradiant values, box shadows, and background styles for the body. */
body {
    background: url(sd_back2.png), radial-gradient(circle closest-corner at 40% 70%, white 15%, rgba(151, 151, 151, 0.5) 50%), radial-gradient(circle closest-corner at 80% 40%, white 15%, rgba(0,0,0,0) 30%), radial-gradient(circle closest-corner at 10% 20%, white 20%, rgba(0,0,0,0) 45%), radial-gradient(5% 5% at 90% 10%, white 15%, rgba(0,0,0,0) 40%);
    background-color: rgb(151, 151, 151);
}

body {
    box-shadow:   rgb(31, 31, 31) 30px 0px 45px,  rgb(31, 31, 31) -30px 0px 45px;
}


/* Navigation List Styles */
/* The code below holds styles rules for any hypertext links for the page. The style rules consist of border styles. */
body>header a {
    border: 5px outset rgb(211, 211, 255);

}




/* Section Left Styles */
/* The code below holds code for the image with the id value of mportrait and teh left section. The style rules control shadows and multiple filters for the image. */
section#left article h1 {
    color: rgb(211, 211, 211);
    text-shadow: black 0px 0px 5px;
}

img#mportrait {
    -webkit-filter: drop-shadow(-15px 0px 5px rgba(51,51,51, 0.9)) grayscale(0.7) opacity(0.6);

    filter: drop-shadow(-15px 0px 5px rgba(51,51,51, 0.9)) grayscale(0.7) opacity(0.6);

    transform: rotateY(180deg);
}





/* Footer Styles */
/* The code below holds style rules for the footer. The style rules change the border. */
footer {
    border-top: 2px solid rgb(171, 171, 171);
}